---
name: Unit Tests

on:
  workflow_call:
  pull_request:
    branches:
      - main
    paths:
      - "cmd/**"
      - "internal/**"
      - go.mod
      - go.sum
      - Dockerfile.goreleaser
  workflow_dispatch:

jobs:
  tests:
    name: Run Tests
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Check out code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
          check-latest: true
          cache: true

      - name: Install Dependencies
        run: |
          make download

      - name: Run Unit Tests
        run: |
          make test
